<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--INICIO - Modificado por panel de control para configuracion de DattaMovil - NO Borrar!!-->
        <rule name="mobileSiteConnectorImg" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{HTTP_COOKIE}" pattern="^.*dattaMobile_desktopVersion=([^;]+).*$" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="^.*(2.0\ MMP|240x320|400X240|AvantGo|BlackBerry|Blazer|Cellphone|Danger|DoCoMo|Elaine/3.0|EudoraWeb|Googlebot-Mobile|hiptop|IEMobile|KYOCERA/WX310K|LG/U990|MIDP-2.|MMEF20|MOT-V|NetFront|Newt|Nintendo\ Wii|Nitro|Nokia|Opera\ Mini|Palm|PlayStation\ Portable|portalmmm|Proxinet|ProxiNet|SHARP-TQ-GX10|SHG-i900|Small|SonyEricsson|Symbian\ OS|SymbianOS|TS21i-10|UP.Browser|UP.Link|webOS|Windows\ CE|WinWAP|YahooSeeker/M1A1-R2D2|iPhone|iPod|Android|BlackBerry9530|LG-TU915\ Obigo|LGE\ VX|webOS|Nokia5800|Transcoder|MAUI_WAP_Browser).*" />
          </conditions>
          <match url="^mobileSiteConnector/cache/([^/]+)/img/([^_]+)_([^_]+)_([^_]+)\.(jpg|png)" />
          <action type="Rewrite" url="/mobileSiteConnector/application/index.php?file={R:2}&amp;blockID={R:3}&amp;parantExt_1={R:4}&amp;parantExt_2={R:5}" logRewrittenUrl="true" />
        </rule>
        <rule name="mobileSiteConnector" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{HTTP_COOKIE}" pattern="^.*dattaMobile_desktopVersion=([^;]+).*$" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="^.*(2.0\ MMP|240x320|400X240|AvantGo|BlackBerry|Blazer|Cellphone|Danger|DoCoMo|Elaine/3.0|EudoraWeb|Googlebot-Mobile|hiptop|IEMobile|KYOCERA/WX310K|LG/U990|MIDP-2.|MMEF20|MOT-V|NetFront|Newt|Nintendo\ Wii|Nitro|Nokia|Opera\ Mini|Palm|PlayStation\ Portable|portalmmm|Proxinet|ProxiNet|SHARP-TQ-GX10|SHG-i900|Small|SonyEricsson|Symbian\ OS|SymbianOS|TS21i-10|UP.Browser|UP.Link|webOS|Windows\ CE|WinWAP|YahooSeeker/M1A1-R2D2|iPhone|iPod|Android|BlackBerry9530|LG-TU915\ Obigo|LGE\ VX|webOS|Nokia5800|Transcoder|MAUI_WAP_Browser).*" />
          </conditions>
          <match url="^([^/]*)(/([^/]*))?(/([^/]*))?(/([^/]*))?" />
          <action type="Rewrite" url="/mobileSiteConnector/application/index.php?file={R:1}&amp;blockID={R:3}&amp;parantExt_1={R:5}&amp;parantExt_2={R:7}" logRewrittenUrl="true" />
        </rule>
        <!--FIN - Modificado por panel de control para configuracion de DattaMovil - No Borrar!!!-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>